# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle
**/build/

# other
eclipse
run
runs

# OS
.DS_Store
Thumbs.db
[Dd]esktop.ini

# secrets
.env

# claude
.claude

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar
